html,body {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    font-family: 'Microsoft Yahei',"微软雅黑",arial,'宋体',sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

ol,ul,p {
    list-style: none;
    padding: 0;
    margin: 0
}

input,textarea {
    outline: 0;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
}
.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
    text-align: center;
    position: relative;
}
.page1{
    background: #f77;
}
.page2{
    background: yellow;
}
.page3{
    background: #e1e1e1;
}
.page4{
    background: green;
}
.page5{
    background: blue;
}

/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(../imgs/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
/* 音乐 */
.music{
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 0px;
    padding: 10px;
    width: 25px;
    height: 25px;
}
.music .music-btn {
    display: block;
    padding-left: 1px;
    width: 25px;
    height: 25px;
    background-image: url(../imgs/music-1.png);
    background-size: 100% 100%;
}
.music .music-btn.play {
    background-image: url(../imgs/music-0.png);
}
